.home {
  background-color: #212121;
  color: #4db1bc;
  margin: 0;
  align-items: center;
  justify-items: center;
}
.home img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: .5;
  z-index: 0;
}
.home h1 {
  margin: 0;
  padding-bottom: 6rem;
  z-index: 1;
  font-family: 'Teko', sans-serif;
  font-size: 10rem;
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
}
.home a {
  font-family: 'Teko', sans-serif;
  color: #4db1bc;

  align-self: end;
  justify-self: center;
  padding-bottom: 1rem;
}


.container {
  position: relative;
}

.background-image {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  color: #4db1bc;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #4db1bc;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
}
@keyframes glow {
  from {
      text-shadow: 0 0 20px #2d9da9;
 }
  to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
 }
}




.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.gx-5 {
  --bs-gutter-x: 3rem;
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.mb-lg-0 {
  margin-bottom: 0 !important;
}
.fw-bolder {
  font-weight: bolder !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.col-lg-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}
.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.row-cols-md-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.col {
  flex: 1 0 0%;
}
.h-100 {
  height: 100% !important;
}
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}
.bg-primary {
  background-color: #0d6efd !important;
}
.bg-gradient {
  background-image: var(--bs-gradient) !important;
}
.text-white {
  color: #fff !important;
}
.rounded-3 {
  border-radius: 0.3rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h5, .h5 {
  font-size: 1.25rem;
}
.mb-md-0 {
  margin-bottom: 0 !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.justify-content-center {
  justify-content: center !important;
}
.col-lg-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}
.col-xl-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}
.text-center {
  text-align: center !important;
}
.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.fst-italic {
  font-style: italic !important;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.row-cols-md-2 > * {
  flex: 0 0 auto;
  width: 50%;
}





























 
/* Footer */
.bg-dark {
  background-color: #212529 !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.mt-auto {
  margin-top: auto !important;
}
#media
{
  color: white;
}
.srodek
{
  text-align: center;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h6, .h6 {
  font-size: 1rem;
}
.fw-bolder {
  font-weight: bolder !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
.link-light {
  color: #f8f9fa;
}
.link-light:hover, .link-light:focus {
  color: #f9fafb;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-sm-row {
  flex-direction: row !important;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
small, .small {
  font-size: 0.875em;
}
.m-0 {
  margin: 0 !important;
}
.text-white {
  color: #fff !important;
}
.col-xl-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}
.text-center {
  text-align: center !important;
}
.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.fst-italic {
  font-style: italic !important;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.row-cols-md-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

/* style.css */
.app-container {
display: flex;
flex-direction: column;
min-height: 100vh;
}

.footer {
margin-top: auto;
background: #333;
color: white;
padding: 10px;
}


